<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.orange.entity.UserInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="dep_id" jdbcType="VARCHAR" property="depId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="weight" jdbcType="REAL" property="weight" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="salary" jdbcType="DECIMAL" property="salary" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.orange.entity.UserInfo">
    insert into user_info (id, dep_id, name, 
      weight, phone_number, email, 
      birthday, salary, photo, 
      user_name, password, status
      )
    values (#{id,jdbcType=VARCHAR}, #{depId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{weight,jdbcType=REAL}, #{phoneNumber,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=TIMESTAMP}, #{salary,jdbcType=DECIMAL}, #{photo,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.orange.entity.UserInfo">
    update user_info
    set dep_id = #{depId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=REAL},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      salary = #{salary,jdbcType=DECIMAL},
      photo = #{photo,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, dep_id, name, weight, phone_number, email, birthday, salary, photo, user_name, 
    password, status
    from user_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, dep_id, name, weight, phone_number, email, birthday, salary, photo, user_name, 
    password, status
    from user_info
  </select>
</mapper>